<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">Time to bid</h4>
</div>
<div class="modal-body">
	<div>
		<label>Someone has bid with an amount of $24. Please place
			your bid in below field starts with 25$.</label>
	</div>
	<input class="form-control" id="bidNow" type="text" placeholder="$xx" ng-model = "newBid"></input>
</div>


<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
	<button type="button" class="btn btn-success" ng-click="$close();successBid();">Buy Now</button>
</div>



